h1 {
	text-align:center;
}

p {
	font-size:.8em;
}
.container {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.wrapper {
	float:left;
	width:33%;
}

.problem {
	background-color:#EBF5FF;
	margin:10px;
	padding:10px 20px 20px 20px;
	height:200px;
}