body {
	background-color:#FAFFF0;
}

.problem {
	background-color:#7A993D;
	height:150px;
	width:600px;
	margin:10px auto 10px auto;
	padding: .05% 1% .05% 1%;
	font-family:Arial,sans-serif;
}

h1 {
	font-family:Arial,sans-serif;
	text-align:center;
}
